@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Arial', sans-serif;
  scroll-behavior: smooth;
}

section {
  padding: 50px;
}

.banner {
  transition: 0.5s;
  position: relative;
  min-height: 100vh;
  background-blend-mode: darken;
  background: url('./assets/images/banner-2.jpg'), #0000006f;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner h2 {
  font-size: 50px;
  color: white;
  font-weight: 600;
  line-height: 75px;
  text-shadow: 2.5px 2.5px 15px #000000;
}

.banner h2 span {
  font-size: 65px;
  font-weight: 700;
}

.banner h3 {
  font-size: 24px;
  color: white;
  font-weight: 500;
  text-shadow: 1.5px 2.5px 5px #000000;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background: white;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

header .logo {
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}

header.sticky .logo {
  color: black;
}

header.sticky .toggle {
  filter: invert(1);
}

header.sticky .toggle.active {
  filter: invert(1);
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: white;
  text-decoration: none;
  text-shadow: 0.5px 0.5px 1px #000000;
}

header.sticky ul li a {
  color: black;
}

.heading-btn {
  width: 100%;
  text-align: center;
}

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.heading h2 {
  font-weight: 600;
  font-size: 30px;
}

.about .content {
  display: flex;
  justify-content: space-between;
}

.contentBx {
  padding-right: 30px;
}

.contentBx h3 {
  font-size: 26px;
  margin-bottom: 10px;
}

.w50 {
  min-width: 50%;
}

.img {
  margin-left: 15%;  
  width: 60%;
}

p {
  text-align: justify;
}

.btn {
  position: relative;
  background: #2196f3;
  border-radius: 10px;
  display: inline-block;
  color: white;
  margin-top: 20px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.btn-cv {
  display: flex;
  justify-content: center;
  width: 50%;
  border-radius: 10px;
  background: #5538a5;  
  color: white;
  margin: 30px 25%;
  padding: 15px 0;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.btn-view {
  position: relative;
  border-radius: 10px;
  background: #ff0055;
  display: inline-block;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.about .content p {
  font-size: 20px;
}
.services {
  background-color: #111;
}

.heading.white {
  color: white;
}

.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.services .content .servicesBx {
  width: 340px;
  padding: 40px 20px;
  background: #222;
  color: white;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
  border-radius: 15px;
}

.services .content .servicesBx:hover {
  background-color: #2196F3;
}

.services .content .servicesBx2 {
  width: 340px;
  padding: 40px 20px;
  background: #222;
  color: white;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
  border-radius: 15px;
}

.services .content .servicesBx2:hover {
  background-color: #EF4044;
}

.services .content .servicesBx3 {
  width: 340px;
  padding: 40px 20px;
  background: #222;
  color: white;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
  border-radius: 15px;
}

.services .content .servicesBx3:hover {
  background-color: #00a816;
}

.services .content .servicesBx4 {
  width: 340px;
  padding: 40px 20px;
  background: #222;
  color: white;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
  border-radius: 15px;
}

.services .content .servicesBx4:hover {
  background-color: #672bac;
}

.services .content .servicesBx img {
  max-width: 80px;
  filter: invert(1); /* Invertir colores */
}

.services .content .servicesBx2 img {
  max-width: 80px;
  filter: invert(1); /* Invertir colores */
}

.services .content .servicesBx3 img {
  max-width: 80px;
  filter: invert(1); /* Invertir colores */
}

.services .content .servicesBx4 img {
  max-width: 80px;
  filter: invert(1); /* Invertir colores */
}

.services .content .servicesBx h2 {
  font-size:  20px;
  font-weight: 600px;
}

.services .content .servicesBx p {
  margin-top: 15px;
}

.services .content .servicesBx2 p {
  margin-top: 15px;
}


.services .content .servicesBx3 p {
  margin-top: 15px;
}

.services .content .servicesBx4 p {
  margin-top: 15px;
}


.work .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.work .content .workBx {
  width: 25%;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.work .content .workBx img {
  max-width: 100%;
  height: 350px;
  object-fit: cover;
  margin-bottom: 5px;
  border-radius: 15px;
}

.work .heading p {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.work .heading {
  margin-bottom: 0;
}

.certifications {
  background: #f0f0f0;
}

.certifications .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.certifications .content .certificationsBx {
  width: calc(25% - 40px);
  padding: 40px;
  margin: 20px;
  border-radius: 15px;
  background-color: #2196f3;
}

.certifications .content .certificationsBx p {
  color: white;
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}

.certifications .content .certificationsBx .certicateID {
  font-size: 14px;
}

.certifications .content .certificationsBx a {
  color: white;
}

.certifications .content .certificationsBx h3 {
  margin-top: 40px;
  text-align: end;
  color: white;
  font-weight: 600;
  font-size: 20px;
  line-height: 1em;
}

.certifications .content .certificationsBx h3 span {
  font-size: 14px;
  font-weight: 400;
}

.centerBox {
  display: flex;
  justify-content: center;
}

.certification-logo {
  width: 90px;
  margin-bottom: 10px;
}

.contact {
  background: #111;
}

.contact .content {
  display: flex;
  justify-content: space-between;
}

.formBx {
  min-width: 60%;
}

.formBx form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.formBx form h3,
.contactInfo h3 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.formBx form input,
.formBx form textarea {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: none;
  background: #222;
  color: white;
  resize: none;
}

.formBx form textarea {
  min-height: 200px;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder {
  color: #999;
}

.btn-blue,
.btn-pink {
  border: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 12px 20px;
  margin: 5px;
  max-width: 100px;
  border-radius: 10px;
  background: #008cff;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
  transition: 0.3s;
}

.btn-blue:hover {
  background: #027bdf;
}

.btn-pink {
  background: #ff0062;
}

.btn-pink:hover {
  background: #e00257;
}

.contactInfo {
  position: relative;
}

.contactInfo .box {
  position: relative;
  padding: 20px;
  display: flex;
}

.contactInfo .box .icon {
  min-width: 40px;
  padding-top: 4px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactInfo .box .text {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 300;
  color: white;
  display: flex;
  flex-direction: column;
}

.contactInfo .box .text h3 {
  margin-bottom: 0px;
  font-weight: 500;
  color: #2196f3;
}

#mailTo {
  opacity: 0;
}

.copyright {
  background: #000;
  color: white;
  padding: 10px;
}

.copyright p {
  text-align: center;
  vertical-align: middle;
}

.social-icon a {
  text-decoration: none;
}

.social-icon i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: white;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.social-icon:hover i {
  background-color: #2196f3;
}

@media (max-width: 1600px) {
  .work .content .workBx {
    width: calc(33%);
  }

  .certifications .content .certificationsBx {
    width: calc(33% - 40px);
  }
}

@media (max-width: 1400px) {
  .certifications .content .certificationsBx {
    width: calc(50% - 40px);
  }
}
/* Responsive */
@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 20px 50px;
  }

  header .logo {
    text-shadow: 0px 0px 15px #000000;
  }

  header.sticky .logo {
    text-shadow: 0px 0px 80px #000000;
  }

  .menu {
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: white;
    transition: 0.5s;
    z-index: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  .menu.active {
    left: 0;
  }

  header ul li a {
    color:black;
    font-size: 24px;
    margin: 10px;
  }

  .toggle {    
    width: 40px;
    height: 40px;
    background: url("./assets/images/menu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }

  .toggle.active {
    background: url("./assets/images/close.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  }

  section {
    padding: 25px auto;
  }

  .banner {
    padding: 150px 50px 100px;
  }

  .banner h2 {
    font-size: 2em;
  }
  
  .banner h2 span {
    font-size: 2em;
  }

  .banner h3 {
    font-size: 1.2em;
  }
  
  .btn {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }

  .heading h2 {
    font-size: 28px;    
    margin-bottom: 15px;
  }

  .contentBx h3 {
    font-size:  20px;
  }
  
  .content {
    flex-direction: column;
  }

  .work .content {
    flex-direction: row;
  }
  
  p {
    margin-bottom: 10px;
  }

  .img {
    margin-left: 25%;
    width: 50%;
  }

  .work .content .workBx {
    width: 50%;
    padding: 10px;
  }

  .work .heading p {
    font-size: 18px;
    text-align: justify;
  }

  .certifications .content .certificationsBx {
    width: 100%;
    padding: 40px 20px;
    margin: 10px;
  }
  
  .certifications .content .certificationsBx h3 {
    margin-top: 20px;
  }

  .contactInfo {
    min-width: 40%;
    margin: 20px 0;
  }

  .contentBx {
    padding-right: 0;
  }

  .copyright p {
    padding-top: 20px;
  }

}

@media (max-width: 767px) {
  section {
    padding: 40px;
  }

  .content {
    flex-direction: column;
  }

  .btn-cv {
    width: 100%;
    padding: 10px;
    margin: 0;
  }

  .img {
    margin-top: 30px;
    margin-left: 0;  
    width: 100%;
  }

  .services .content .servicesBx {
    width: 100%;
    margin: 20px 0;
    padding: 20px 40px;
  }

  .services .content .servicesBx2 {
    width: 100%;
    margin: 20px 0;
    padding: 20px 40px;
  }

  .services .content .servicesBx3 {
    width: 100%;
    margin: 20px 0;
    padding: 20px 40px;
  }

  .services .content .servicesBx4 {
    width: 100%;
    margin: 20px 0;
    padding: 20px 40px;
    border-radius: 15px;
  }

  .work .content .workBx {
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
  }

  .contactInfo .box {
    padding: 10px 0;
  }
  
  .contactInfo .box .text {
    font-size: 14.5px;
    margin-left: 10px;
  }

}

.hoverable {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
}

.hoverable:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.15), 0 6px 20px 0 rgba(0,0,0,0.18);
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.15),0 6px 20px 0 rgba(0,0,0,0.18);
}